@body-bg: #6F4768;
@text-color: #B1C0E3;
@navbar-default-bg: #8F5EA0;
@navbar-default-link-color: #B1C0E3;
@carousel-caption-color: #B1C0E3;
@font-family-serif: indie flower,
"Times New Roman",
serif;
@font-family-base: @font-family-serif;
@grid-float-breakpoint: 795px;
textarea {
    resize: none;
}

.borde {
    padding: 15px;
}

.bordetop {
    padding-top: 15px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
    height: 300px;
}

.carousel-inner > .item > p {
    margin: 0 auto;
}

dropdown-menu {
    background-color: #8F5EA0;
}

.logo {
    margin: 0 auto;
    height: 200px;
}

.top75 {
    margin-top: 75px;
}

.top30 {
    margin-top: 30px;
}